body{
  .col-lg-2,.col-lg-10{
    padding: 0;
  }
  .templete{
    display: none;
  }
  .col-lg-2{
    background-color: #EBEBEB !important;
    .holder{
      width: 100%;
      position: relative;
      #headFunction{
        height: 0;
        width: 100%;
        padding-bottom: 100%;
        background: -webkit-linear-gradient(#99C5EB, #99C5EB 50px,#D8D8D8);
        .functionButton{
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translate(-50%);
          button{
            border: 0;
            background: rgba(0,0, 0,0);
            span{
              font-size: 34px;
              color: #FFF;
            }
          }
        }
        img{
          display: block;
          width: 35%;
          height: 35%;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }

        button[name = closeChatTarget]{
          position: absolute;
          top: 50%;
          right: 10%;
          transform: translate(-50%,-50%);
          border: 0;
          background: rgba(0,0,0,0);
          color: #9D9D9D;
        }

        #chatTargetName{
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%,-50%);
          font-size: 1.5em;
        }
      }
    }
    #chatListContainer{
      width: 100%;
      // height: 60px;
      .chatListUnit{
        height: 60px;
        background-color: #D8D8D8;
        img{
          width: 46px;
          height: 46px;
          margin-top: 7px;
          margin-left: 18px;
          margin-right: 12px;
          border-radius: 50%;
          float: left;
        }
        h4{
          float: left;
          margin-bottom: 0;
          color: #414141;
        }
        .time{
          margin: 0;
          margin-right: 20px;
          padding-top: 10px;
          float: right;
          color: #757575;
        }
        .glimp{
          float: left;
          margin: 0;
          padding: 0;
          color: #414141;
          clear: right;
        }

        &:hover{
          background-color: #D3E6FC;
        }
      }
    }

    #friendsListContainer{
      background-color: #D8D8D8;
      #group{
        list-style-type: none;
        padding: 0;
        li[data-groupname]{
          padding-left: 14px;
          line-height: 30px;
          font-size: 13px;
          font-family: Helvetica ,arial;
          color: #4C4C4C;
          span{
            padding-right: 4px;
          }
          .rotateSpan{
            animation: rotateArrow 0.5s;
            -webkit-animation: rotateArrow 0.5s;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
          }
          .rotateSpanBack{
            animation: rotateArrowBack 0.5s;
            -webkit-animation: rotateArrowBack 0.5s;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
          }
          &:hover{
            background-color: #D3E6FC;
          }
        }
        ul{
          list-style-type: none;
          padding: 0;
          li{
            line-height: 45px;
            padding-left: 33px;
            img{
              height: 35px;
              width: 35px;
              border-radius: 50%;
              margin-right: 9px;
            }
            &:hover{
              background-color: #D3E6FC;
            }
          }
        }
      }
    }
  }


  header{
    height: 50px;
    background-color: #99C5EB;
    p{
      margin: 0;
      padding: 0;
      color: #FFF;
      font-size: 1.2em;
      img{
        margin: 2px 14px;
        width: 46px;
        height: 46px;
        border-radius: 50%;
      }
    }
  }
}
@keyframes rotateArrow {
  from{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotateArrowBack {
  from{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  to{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
