body{
  background-color: #56637e !important;
  .or{
    margin: 0;
    padding: 20px;
    h2{
      margin: 0px 0;
      color: #FFF;
    }
  }
  #errorHint{
    margin: 0;
    padding: 0;
  }
  form{
    #collapseSignInForm,#collapseSignUpForm{
      margin: 0;
      padding: 0;
      .checkbox,h2,button{
        margin: 20px 0;
        color: #FFF;
      }
      h2{
        margin: 0;
        padding: 0;
      }
      input[type=text],input[type=password]{
        margin: 20px 0;
        padding: 10px;
        font-size: 16px;
        height: auto;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      }
    }
  }
}
