body
{
  header
  {
    width: 100%;
    height: 50px;
    background-color: #66CCFF;
    #headerContact
    {
      margin: 0;
      float: left;
      width: 20%;
      height: 100%;
      border-right: 1px solid gray;
      text-align: center;
      span
      {
        font-size: 2em;
        line-height: 50px;
        padding: 0 8px;
        color: white;
      }
    }

    #headerChat
    {
      text-align: center;
      .headerUser2Name
      {
        margin: 0;
        padding: 0;
        display: inline;
        line-height: 50px;
        // border: 1px solid black;
        width: 300px;
        // line-height: 50px;
      }
      .headerAvator
      {
        margin: 4px 30px;
        border: 1px solid gray;
        border-radius: 100%;
        width: 40px;
        height: auto;
        float: right;
        box-sizing: border-box;
      }
    }
  }

  #list
  {
    width: 20%;
    height: 900px;
    background-color: #F5F5F5;
    float: left;
    border-right: 1px solid gray;
    overflow-y: scroll;
    box-sizing: border-box;
    .chatListHolder
    {
      width: 100%;
      display: inherit;
      ul
      {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        li
        {
          width: 100%;
          a
          {
            padding: 15px 30px;
            width: 100%;
            height: 80px;
            display: block;
            &:hover
            {
              background-color: #EEE;
              text-decoration: none;
            }

            img
            {
              margin-right: 15px;
              width: 50px;
              height: auto;
              line-height: 80px;
              border: 1px solid gray;
              border-radius: 100%;
              float: left;
            }
            h5
            {
              margin: 0 0 10px 0;
              padding: 0;
              width: 120px;
              color: black;
              float: left;
              font-size: 1.3em;
              font-weight: lighter;
            }
            .glimp
            {
              float: left;
            }
            .glimpTime
            {
              float: right;
            }
          }
        }

        .chatListFocuse
        {
          background-color: #EEAABB;
        }
      }
    }

    .contactListHolder
    {
      display: none;
    }
  }

  #chatContainer
  {
    width: 80%;
    height: 900px;
    float: left;
    box-sizing: border-box;
    background-color: #ddd;
    #chatForm
    {
      width: 100%;
      height: 100%;
      #chatFormWindow
      {
        padding: 15px 30px;
        width: 100%;
        height: 90%;
        box-sizing: border-box;
        background-color: #EEAABB;
        overflow-y: scroll;

        .Chats
        {
          padding: 5px;
        }
        .friendChats
        {
          float: left;
          border: 1px solid black;
          background-color: #DDD;
          clear: both;
        }
        .myChats
        {
          float: right;
          border: 1px solid black;
          background-color: #66CCFF;
          clear: both;
        }
        .timeStamp
        {
          clear: both;
        }
      }
      #inputWindow
      {
        height: 10%;
        #inputForm
        {
          height: 100%;
          textarea
          {
            padding: 5px 10px;
            min-width: 90%;
            min-height: 100%;
            max-width: 90%;
            max-height: 100%;
            float: left;
          }
          button[name=upLoadPic]
          {
            margin: 0;
            border: 0;
            width: 5%;
            height: 50%;
            font-size: 1.3em;
            background-color: #66FFDD;
            box-sizing: border-box;
            float: left;
          }
          button[name=upLoadFile]
          {
            margin: 0;
            border: 0;
            width: 5%;
            height: 50%;
            font-size: 1.3em;
            background-color: #99EEAA;
            box-sizing: border-box;
            float: left;
          }
          button[name=Send]
          {
            margin: 0;
            border: 0;
            width: 10%;
            height: 50%;
            font-size: 2em;
            background-color: #66CCFF;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
